version: '2'


volumes:
  greyfish:
  influxdb:
  chronograf:
  kapacitor:


services:

  greyfish:
    build: .
    image: "greyfish/standalone"

    ports:
     - "2000-2003:2000-2003"
    volumes:
     - "greyfish:/greyfish"

    environment:
     - greyfish_key=greyfish
     - greyfish_path=/greyfish

    command: "tail -F anything"


  # Define a Telegraf service
  telegraf:
    image: telegraf:0.12
    volumes:
      - ./etc/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    links:
      - influxdb
    ports:
      - "8092:8092/udp"
      - "8094:8094"
      - "8125:8125/udp"

  # Define an InfluxDB service
  influxdb:
    image: influxdb:0.12
    volumes:
      - ./data/influxdb:/var/lib/influxdb
    ports:
      - "8086:8086"

  # Define a Chronograf service
  chronograf:
    image: chronograf:0.12
    volumes:
      - ./data/chronograf:/var/lib/chronograf
    ports:
      - "10000:10000"
    links:
      - influxdb

  # Define a Kapacitor service
  kapacitor:
    image: kapacitor:0.12
    environment:
      KAPACITOR_HOSTNAME: kapacitor
      KAPACITOR_INFLUXDB_0_URLS_0: http://influxdb:8086
    volumes:
      - ./data/kapacitor:/var/lib/kapacitor
    links:
      - influxdb
    ports:
      - "9092:9092"

  # Define a service for using the influx CLI tool.
  # docker-compose run influxdb-cli
  influxdb-cli:
    image: influxdb:0.12
    entrypoint:
      - influx
      - -host
      - influxdb
    links:
      - influxdb

  # Define a service for using the kapacitor CLI tool.
  # docker-compose run kapacitor-cli
  kapacitor-cli:
    image: kapacitor:0.12
    entrypoint: bash
    environment:
      KAPACITOR_URL: http://kapacitor:9092
    links:
      - kapacitor